@font-face {
  font-family: "SoleSans Black";
  src: url(assets/fonts/SoleSans-BlackExtended.ttf) format("opentype");
}

@font-face {
  font-family: "SoleSans Bold";
  src: url(assets/fonts/SoleSans-BoldExtended.ttf) format("opentype");
}

@font-face {
  font-family: "SoleSans Light";
  src: url(assets/fonts/SoleSans-LightExtended.ttf) format("opentype");
}

@font-face {
  font-family: "SoleSans Regular";
  src: url(assets/fonts/SoleSans-RegularExtended.ttf) format("opentype");
}

@font-face {
  font-family: "SoleSans Medium";
  src: url(assets/fonts/SoleSans-MediumExtended.ttf) format("opentype");
}
